/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    background: $color-azul;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    display: flex;
    flex-flow: wrap nowrap;
    justify-content: flex-end;

    .topbar-scrolled{
        top: -40px;
    }

    .contact-info a{
        line-height: 1;
        color: #fff;
        transition: 0.3s;

        &:hover{
            text-decoration: underline;
        }
    }

    .contact-info i {
        padding-right: 4px;
        margin-left: 15px;

        &:first-child{
            margin-left: 0;
        }
      }

    .social-links a{
        color: rgba(255, 255, 255, 0.6);
        padding-left: 15px;
        padding-right: 15px;
        line-height: 1px;
        transition: 0.3s;
        text-decoration: none;
        &:hover{
            color: #fff;
        }
    }
      
    
}
  

 
  