/*--------------------------------------------------------------
# Contacto
--------------------------------------------------------------*/

.contact {
	.info-box {
		color: #444444;
		text-align: center;
		box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
		padding: 20px 0 30px 0;
		i {
			font-size: 2rem;
			color: $color-azul;
			border-radius: 50%;
			padding: 8px;
			border: 2px dotted #b3d1fa;
		}
		h3 {
			font-size: 1.25rem;
			color: #777777;
			font-weight: 700;
			margin: 10px 0;
		}
		p {
			padding: 0;
			line-height: 24px;
			font-size: 0.875rem;
			margin-bottom: 0;
		}
	}
	.php-email-form {
		box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
		padding: 30px;
		
		input {
			border-radius: 0;
			box-shadow: none;
			font-size: 0.875rem;
			padding: 20px 15px;
			&:focus {
				border-color: $color-azul;
			}
		}
		textarea {
			border-radius: 0;
			box-shadow: none;
			font-size: 0.875rem;
			padding: 12px 15px;
			&:focus {
				border-color: $color-azul;
			}
		}
		button {
			background: $color-azul;
			border: 0;
			padding: 10px 30px;
			color: #fff;
			transition: 0.4s;
			border-radius: 4px;
			&:hover {
				background: $color-azulHover;
			}
		}
	}
}


@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}