/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/
.error-mensaje {
	padding: 40px 15px;
	text-align: center;
	color: black;
}
.error-boton {
	padding-top: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.btn-index {
	color: white;
	text-decoration: none;
}
