/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	background: #fff;
	padding: 0 0 30px 0;
	color: #444444;
	font-size: 0.875rem;
	background: #f1f6fe;
	height: 100px;
	.copyright {
		padding-top: 20px;
		text-align: center;
	}

	.social-footer{
		display: flex;
		flex-flow: wrap nowrap;
		justify-content: center;
		margin-top: 16px;
		font-size: 1.25rem;
		& a{
			margin-right: 30px;
		}
	}	
}
.container-py-4 {
	height: 30px;
}

@media (max-width: 768px) {
	#footer {
		.copyright {
			float: none;
			text-align: center;
			padding: 2px 0;
		}
		.credits {
			float: none;
			text-align: center;
			padding: 2px 0;
		}
	}
}
