/*--------------------------------------------------------------
# Servicios
--------------------------------------------------------------*/
.row-servicios{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
  
.servicio .box {
    padding: 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  
  .servicio .box h3 {
    font-weight: 400;
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #777777;
    background: #f8f8f8;
  }
  
  .servicio .box h4 {
    font-size: 36px;
    color: $color-azul;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
  }
  
  .servicio .box h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }
  
  .servicio .box h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
  }
  
  .servicio .box ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }
  
  .servicio .box ul li {
    padding-bottom: 16px;
  }
  
  .servicio .box ul i {
    color: $color-azul;
    font-size: 18px;
    padding-right: 4px;
  }
  
  .servicio .box ul .na {
    color: #ccc;
    text-decoration: line-through;
  }
  
  .servicio .featured h3 {
    color: #fff;
    background: $color-azul;
  }
  
  .servicio .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: $color-azul;
    color: #fff;
  }

  .verMas {
    color: white;
    text-decoration: none;
    &:hover {
      color: #007bff;
    }
  }
  .boton-servicio {
    border-color: #3b93db;
    background-color: #007bff;
    background-image: -webkit-linear-gradient(45deg, white 50%, transparent 50%);
    background-image: linear-gradient(45deg, white 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    &:hover {
      background-position: 0;
    }
  }